# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opensdf
TopicModelingSingleNodeALS/TopicModel/datasets/BMC/BMCfeature_names.txt
TopicModelingSingleNodeALS/TopicModel/datasets/BMC/BMCsample_size.txt
TopicModelingSingleNodeALS/TopicModel/datasets/BMC/BMCvocabulary_length.txt
TopicModelingSingleNodeALS/TopicModel/datasets/BMC/result/k20/alpha.txt
TopicModelingSingleNodeALS/TopicModel/datasets/BMC/result/k20/beta.txt
TopicModelingSingleNodeALS/TopicModel/datasets/BMC/result/k20/hi.txt
TopicModelingSingleNodeALS/TopicModel/datasets/BMC/result/k5/alpha.txt
TopicModelingSingleNodeALS/TopicModel/datasets/BMC/result/k5/beta.txt
TopicModelingSingleNodeALS/TopicModel/datasets/BMC/result/k5/hi.txt
TopicModelingSingleNodeALS/TopicModel/datasets/BMC/run.txt
TopicModelingSingleNodeALS/TopicModel/datasets/BMC/samples.txt
TopicModelingSingleNodeALS/TopicModel/datasets/Kos/docword.kos.txt
TopicModelingSingleNodeALS/TopicModel/datasets/Kos/result/alpha.txt
TopicModelingSingleNodeALS/TopicModel/datasets/Kos/result/beta.txt
TopicModelingSingleNodeALS/TopicModel/datasets/Kos/result/hi.txt
TopicModelingSingleNodeALS/TopicModel/datasets/Kos/samples.txt
TopicModelingSingleNodeALS/TopicModel/datasets/Kos/vocab.kos.txt
TopicModelingSingleNodeALS/TopicModel/datasets/PLOS/PLOSfeature_names.txt
TopicModelingSingleNodeALS/TopicModel/datasets/PLOS/PLOSsample_size.txt
TopicModelingSingleNodeALS/TopicModel/datasets/PLOS/PLOSvocabulary_length.txt
TopicModelingSingleNodeALS/TopicModel/datasets/PLOS/samples_.txt
TopicModelingSingleNodeALS/TopicModel/datasets/synthetic/alpha0.txt
TopicModelingSingleNodeALS/TopicModel/datasets/synthetic/hiddendim.txt
TopicModelingSingleNodeALS/TopicModel/datasets/synthetic/result/alpha.txt
TopicModelingSingleNodeALS/TopicModel/datasets/synthetic/result/beta.txt
TopicModelingSingleNodeALS/TopicModel/datasets/synthetic/result/hi.txt
TopicModelingSingleNodeALS/TopicModel/datasets/synthetic/samplesize.txt
TopicModelingSingleNodeALS/TopicModel/datasets/synthetic/samples_test.txt
TopicModelingSingleNodeALS/TopicModel/datasets/synthetic/samples_train.txt
TopicModelingSingleNodeALS/TopicModel/datasets/synthetic/vocabsize.txt
*.ipch
*.sdf
